.comment-enter {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

[data-focus='comments-list'] {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
