[data-focus='comment'] {
    display: flex;
    background-color: white;

    &:hover {
        [data-focus='content'] [data-focus='head'] [data-focus='edit'] {
            display: inline-block;
        }
    }

    [data-focus='avatar'] {
        
    }

    [data-focus='content'] {
        flex: 1;

        [data-focus='head'] {
            display: flex;
            justify-content: space-between;

            [data-focus='name'] {
            }

            [data-focus='edit'] {
                flex: 1;
                display: none;
            }

            [data-focus='date'] {
            }
        }

        [data-focus='body'] {

        }
    }
}
